body {
    background-color: rgb(40, 41, 42);
  }
  h1 {
    color: rgb(242, 248, 255);
    font-size: 300%;
  }
  h2 {
    color: rgb(172, 214, 255);
    font-size: 200%;
  }
  p {
    color: rgb(242, 248, 255);
    font-size: 150%;
    font-family: georgia;
  }
  a {
    color: rgb(115, 174, 233);
  }
